<pre>{{lessons | json }}</pre>
<div>
  <table>
    <tr>
      <th class="titleCell" align="center">Номер</th>
      <th class="titleCell" align="center">Дата урока</th>
      <th class="titleCell" align="center">Предмет</th>
      <th class="titleCell" align="center">Тема</th>
      <th class="titleCell" align="center">Домашнее задание</th>
      <th class="titleCell" align="center">Примечание</th>
    </tr>
    <app-lessons *ngFor="let lesson of lessons" [lessonIn]="lesson"></app-lessons>
  </table>
</div>

